@import 'tailwindcss';
@plugin '@tailwindcss/forms';

:root {
    --font-brand: 'Quantico', sans-serif;
    --font-body: 'Istok Web', sans-serif;
}

body {
    font-family: var(--font-body);
}

.font-brand {
    font-family: var(--font-brand);
}