/* --- Variables de Color de la Marca Deporty (CSS Custom Properties) --- */
:root {
    --color-primary: #333333;
    --color-accent: #FF7601;
    --color-background: #fdfdfb;
    --color-surface: #ffffff;
    --color-text-primary: #333333;
    --color-text-secondary: #555555;
    --color-border: #dddddd;
    /* --- NUEVO: Colores para mensajes de estado --- */
    --color-error: #D32F2F;
    --color-success: #388E3C;
    --color-waterpolo: #ffc400;
    --font-primary:'Quantico', sans-serif;
    --font-display: sans-serif; /* Nueva variable para títulos impactantes */
    --shadow-soft: 0 6px 20px rgba(0,0,0,0.08);
}

/* --- Reset y Estilos Base (Mobile-First) --- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}